
    .subscribe-button{
        background-color:rgb(231, 7, 7);
        color:white;
        border:none;
        padding-top:10px;
        padding-bottom:10px;
        padding-left: 16px;
        padding-right: 16px;
      
        border-radius:2px;
        cursor:pointer;
        margin-right:8px;
    }
    .subscribe-button:hover{
        opacity:0.8;
    }
    .subscribe-button:avtive{
        opacity:0.5;
    }
    .join-button{
        background-color:white;
        color:rgb(52, 150, 195);
        border-color:rgb(52, 150, 195);
        font-weight:bold;  
        border-style:solid;
        font-size:15px;     
        border-radius:2px;
         padding-top:8px;
        padding-bottom:7px;
        padding-left: 16px;
        padding-right: 16px;
        vertical-align:top ;
      
    }
    .join-button:hover{
        background-color:rgb(52, 150, 195);
        color:white;
    }
    .join-button:active{
        opacity:0.8;
    }
    .tweet-button{
        background-color:rgb(52, 150, 195);
        color:white;
        border:none;
        font-weight:bold;  
        font-size:12px;     
        border-radius:15px;
        width:70px;
        height:30px;
        margin-left:8px;
    }
        
    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.28);
    }

    
        
    .Request now-button{
        background-color: black;
        margin-up:6px;
